
.loader {
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 1;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.show-pointer {
  cursor: default;
}

.show-pointer:hover {
  cursor: pointer; 
}
.sign-out{
  margin:0.5rem;
  font-weight: bold;
}

li.link-wrapper{
    /*color:#DAf7a6 ; background-color: white;*/
    height: 40px;
    /*color:#ffffff;*/
    color:white;
    font-size:20;
    padding:10px;
    font-weight: bold;
    border-radius: 0px 0px 10px 10px;
    background-image: -webkit-linear-gradient(top,#5cb85c 0,#5cb85c 100%);
    /*background-image: -o-linear-gradient(top,#337ab7 0,#2e6da4 100%);*/
    background-image: -o-linear-gradient(top,#5cb85c 0,#5cb85c 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#5cb85c));
    background-image: linear-gradient(to bottom,#5cb85c 0,#5cb85c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
}

span a {
  color:white;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover
{
  color:orange;
  text-decoration: none;
}
.link-wrapper a.active{
  color:orange;
  font-weight:bold;
}
.div-btn-bulk{
  padding: 10px;
  margin: 10px;
  float: right;
}
.btn-bulk{
  margin-right: 5px;
}
.btn {
  display: inline-block;
  color: rgb(0, 105, 92);
  cursor: pointer;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 105, 92);
  border-image: initial;
  background: white;
  border-radius: 3px;
}
.btn-
.nav-tabs {
  /*border-top: 1px solid #dee2e6;
  border-bottom: none;*/
  float: right;
}

.nav-tabs {
  border-bottom: none;
  float: right;
}

.navbar-nav span[role=button] {
  padding: 15px;
  display: inline-block;
  line-height: 20px;
}
.app-name{
  float:left;
}
.app-name span{
  color: #5cb85c;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: bold;
}

.Collapsible {
  background-color: white; }

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #ebebeb;
  border-top: 0; }
  .Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px; }
    .Collapsible__contentInner p:last-child {
      margin-bottom: 0; }

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: #b5e7a0;
  color: white;
  font-weight: bold;
}

  .Collapsible__trigger:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms; }
  .Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg); }
  .Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey; }

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease; }

.CustomTriggerCSS--open {
  background-color: darkslateblue; }

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black; }

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}
/*.table-striped tbody tr:nth-of-type(odd) {
  background-color: #98FB98;
}*/

#main{
  /*width: 800px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

#d1{
  /*width:420px;*/
  height:320px;
  flex: 0 0 45%;
  overflow-y: auto;
}

#d2{
  /*width:420px;*/
  height:320px;
  flex: 1 45%;
  overflow-y: auto;
}

#d3{
  height:320px;
  flex: 0 0 10%;
  justify-content: center;
  align-items: center;
  margin:5px;
}
.flex-container{
  height:320px;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.flex-container > Button {
  margin: 10px;
  padding: 20px;
}
.list-notice{
  color:#FF5370;
  font-weight: bold;
  font-size: 11px;
}
.panel-primary >.panel-heading {
    height: 40px;
    color:#f3f3f3;
    font-size:20;
    padding:10px;
    font-weight: bold;
    /*border-radius: 0px 0px 10px 10px;*/
    background-image: -webkit-linear-gradient(top,#5cb85c 0,#5cb85c 100%);
    background-image: -o-linear-gradient(top,#5cb85c 0,#5cb85c 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#5cb85c));
    background-image: linear-gradient(to bottom,#5cb85c 0,#5cb85c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
}

.intro-screen{
  border:1px solid #5cb85c;
  border-radius: 0px 0px 10px 10px;
  height: auto;
}

.h4, h4 {
  font-size: 0.8rem;
}
.h3, h3 {
  font-size: 1.0rem;
}

.Login {
  padding: 60px 0;
  border-top: 2px solid #5cb85c;
  border-right: 2px solid #5cb85c;
  border-top-right-radius:  15px;
  border-top-left-radius:  15px;
  /*width:400px;*/
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}


/************************************************/
/***********DASHBOARD****************************/

.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.table-filter-row {
  position: relative;
}

.filter-list {
  position: absolute;
  max-height: 250px;
  overflow: auto;
  max-width: 220px;
  min-width: 170px;
  left: 0;
  top: 100%;
  border: 2px solid #8E9193;
}
  .filter-list.align-left {
    left: auto;
    right: 0; }

.filter-list-item {
  position: relative;
  padding-left: 30px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  text-align: left; }
  .filter-list-item:nth-child(odd) {
    background-color: #F7F6F6; }
  .filter-list-item:nth-child(even) {
    background-color: white; }

.filter-check-box {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 8px;
  top: 50%;
  margin-top: -7px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid #8F8F8F; }
  .filter-check-box.selected {
    border-color: black;
    background-color: black; }
    .filter-check-box.selected:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 5px;
      box-sizing: border-box;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      top: 50%;
      margin-top: -4px;
      left: 2px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-tranfsorm: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.filter-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  font-weight: normal; }
  .filter-label.select-all-label {
    font-weight: 600; }

.apply-filter {
  position: relative;
  padding-right: 40px; }

.table-filter-parent {
  position: absolute;
  right: 3px;
  top: 50%;
  margin-top: -8px;
  z-index: 10; }

.table-filter-icon {
  position: relative;
  border-top: 8px solid gray;
  box-sizing: border-box;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  width: 0px;
  height: 0px;
  box-shadow: inset 0 4px gray;
  padding: 2px; }
  .table-filter-icon.selected {
    border-top-color: black;
    box-shadow: inset 0 4px black; }

.ripple {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-tranfsorm: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transform: scale(10, 10);
  -moz-transform: scale(10, 10);
  -ms-tranfsorm: scale(10, 10);
  -o-transform: scale(10, 10);
  transform: scale(10, 10);
  opacity: 0;
  -webkit-transition: transform 0.5s, opacity 1s;
  -moz-transition: transform 0.5s, opacity 1s;
  -ms-transition: transform 0.5s, opacity 1s;
  -o-transition: transform 0.5s, opacity 1s;
  transition: transform 0.5s, opacity 1s; }

.ripple:active:after {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-tranfsorm: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  opacity: .2;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
  transition: 0s; }

.sort-parent {
  position: absolute;
  background: #F0EEEE;
  z-index: 1;
  right: 6px;
  top: 6px;
  border-radius: 4px;
  border: 1px solid #E1DDDD;
  text-align: center;
  padding: 5px 15px;
  cursor: pointer; }
  .sort-parent.asc .table-filter-arrow.asc {
    background: black; }
    .sort-parent.asc .table-filter-arrow.asc:after {
      border-top-color: black; }
  .sort-parent.dsc .table-filter-arrow.dsc {
    background: black; }
    .sort-parent.dsc .table-filter-arrow.dsc:after {
      border-bottom-color: black; }

.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

.table-filter-arrow {
  position: relative;
  float: left;
  width: 2px;
  height: 12px;
  background: gray; }
  .table-filter-arrow.asc {
    margin-left: 7px; }
    .table-filter-arrow.asc:after {
      content: "";
      position: absolute;
      border-top: 5px solid gray;
      bottom: -1px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      left: -4px; }
  .table-filter-arrow.dsc:after {
    content: "";
    position: absolute;
    border-bottom: 5px solid gray;
    top: -1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: -4px; }

.search-parent {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 60px;
}
  .search-parent .search-input {
    position: relative;
    width: 100%;
    height: 24px;
    margin: 0;
    padding-left: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }
input[type=text],
input[type=password],
input[type=select]{
  border:1px solid #59e0c5;
}

.districts-box{
  padding:5px;
  overflow-y: "scroll";
  height: 100px;
}

.districts-box a{
  border:1px solid #5cb85c;
  margin:3px;
  padding:3px;
  border-radius: 3px 3px 3px 3px;
}
.row{
  text-align: center;
}

.col-sm-4 button{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /*border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;*/
  font-size:32px;
  font-weight: bold;
  margin-bottom: 10px;
}
.col-sm-4 p{
  max-width: 250px;
  margin: 0 auto 30px;
  border-top: 1px dashed #1abc9c;
}

.calc-container{
  display: flex;
}

.calc-container-left{
  width:30%;
  padding:5px;
  border-right:1px dotted #1abc42;
  
}

.calc-container-right{
  width:70%;
  padding:5px;
}
.csv-div{
  margin-left: 20px;
  margin-right: 20px;
}
.div-top-link{
  text-align: "right";
  padding-bottom: 4px;
  padding-top: 10px;
  padding-right: 10px;
}
.div-top-link a{
  padding-left:15px;
  font-weight: bold;
  text-decoration: underline;
}
.div-table{
  height: 400px;
  overflow-y: auto;
  margin-left:5px;

}
.table-list tr{
  border-bottom: 1px dotted #ccc;
}
.table-list td{
  font-size: 12px;
}
.table-list th{
  font-size: 12px;
}
.table-list tr:hover {
  background-color: #a8f1a8;
}
.tab-main-container{
  margin:5px;
}
.error{
  color:#FF5370;
}

#toast-container.toast-top-full-width>.toast {
  max-width: 570px;
}

#toast-container>.toast-success {
  background-color: #35c8c3;
  opacity:1;
  box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}

#toast-container>.toast-success:hover {
  background-color: #35c8c3;
  opacity:1;
  box-shadow:0px 0px 10px rgba(0,0,0,0.4);
}

.button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008CBA;
  border: none;
  border-radius: 7px;
  box-shadow: 0 5px #999;
}

.button:hover {
  background-color: #68dbf0;
}
.button:active {
  background-color: #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.custom-ui{
    text-align: center;
    width: 500px;
    padding: 20px;
    /*background: #28bae6;*/
    background: #1abc42;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
    color: #fff;
    border-radius: 5px;
}
.custom-ui button{
  background: #1abc42;
  border: 1px solid #fff;
  border-radius: 5px;
  color:#fff;
  cursor: pointer;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  /*border: 2px solid #FF5370;
  color: #FF5370;*/
  
  border: 1px solid #FFB64D;
  color:#fff;
  background-color: #FFB64D;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}
.btn:hover {
  border: 1px solid #FFB64D;
  color:#FFB64D;
  background-color:#fff ;
}
.btn:active {
  border: 1px solid #FFB64D;
  color:#FFB64D;
  background-color:#fff ;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.div-add-new-link{
  float: left;
}
.add-new-link{
  background:#008CBA;
  font-size: 10px;
  color:#fff;
  padding:3px;
  border-radius: 3px;
}
.add-new-link:hover {
  border:1px solid #008CBA;
  background:#fff;
  color:#008CBA;
  padding:3px;
}