.login-container{
  margin-top:50px;
  margin-left:15%;
  margin-right: 15%;
}
.login {
  display: flex;
  flex-direction: row;
}
.child-left{
  border-top: 4px solid #0a790a;
  border-right: 4px solid #0a790a;
  width: 60%;
  padding: 10px;
}

.child-left hr{

  border-top: 2px dotted rgb(243, 170, 67);
}
.child-right{
  padding: 20px;
  width: 40%;
  border-top: 4px solid  #0a790a;;
  background-color:  #e0ffe0;
}
.child-right h3{
  color:rgb(243, 170, 67);
}
.login form {
  margin: 0 auto;
  max-width: 320px;
}
.title{
  font-weight: bold;
  font-size: 16px;
  color:#5cb85c;
}
.languages-div{
  display: flex;
  flex-direction: row;
  padding:5px;
}
.form-div{
  width:300px;
}
.error{
  font-weight: bold;
  color: #ee2742;
  background: #ffb0bb;
  padding: 2px;
  font-size: 11px;
  margin:5px;
}